<div class="col-lg-8">
	<!-- <h1 class="h1-strong">{{title}} {{user.name}}</h1> -->
  <h1 class="h1-strong">{{title}} </h1>
	<div class="people" *ngIf="followed">

		<!--LISTADO-->
		<div *ngFor="let follow of followed" class="item-user">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="image-user pull-left">
						<a href="#">
							<img src="{{ url +'get-image-user/' + follow.user.image }}" *ngIf="follow.user.image"/>
							<img src="assets/user.png" class="avatar-default" *ngIf="!follow.user.image"/>
						</a>
					</div>

					<div class="user-name pull-left">
						<p class="name-surname">
							<a [routerLink]="['/perfil',follow.user._id]">
								{{follow.user.name + ' ' + follow.user.surname}}
							</a>
						</p>
						<p class="nickname">{{follow.user.nick}}</p>
					</div>


					<div class="pull-right" *ngIf="follow.user._id != identity._id">
						<button class="btn btn-success" *ngIf="follows && follows.indexOf(follow.user._id) <= 0"
						(click)="followUser(follow.user._id)">
							<span class="glyphicon glyphicon-plus-sign"></span>
							Seguir
						</button>

						<button class="btn btn-primary"
						*ngIf="follows && follows.indexOf(follow.user._id) >= 0"
						(mouseenter)="mouseEnter(follow.user._id)"
						(mouseleave)="mouseLeave()"
						(click)="unfollowUser(follow.user._id)"
						[class.btn-danger]="follow.user._id == followUserOver"
						>
							<span *ngIf="follow.user._id == followUserOver; else following">
								<span class="glyphicon glyphicon-minus-sign"></span>
								Dejar de seguir
							</span>
							<ng-template #following>
								<span class="glyphicon glyphicon-ok-sign"></span>
								Siguiendo
							</ng-template>

						</button>
					</div>
				</div>

			</div>

		</div>

		<!--PAGINACION-->
		<ul class="pagination pull-right">
			<li *ngIf="page && page > 1"><a [routerLink]="['/seguidores', userPageId, prev_page]">Anterior</a></li>
			<li *ngIf="pages != page"><a [routerLink]="['/seguidores', userPageId, next_page]">Siguiente</a></li>
		</ul>
	</div>
</div>

<!-- <sidebar></sidebar> -->

<div class="clearfix"></div>
